# Operating System artifacts
.DS_Store
.directory

# Compilation artifacts
*.o
*.d

# Filesystem artifacts
filesystem/*
*.dfs

# Linker artifacts
*.bin
*.elf

# Testing artifacts
clone/*

# Archives
*.tar.bz
