# Operating System artifacts
.DS_Store
.directory

# Compilation artifacts
*.o
*.d

# Filesystem artifacts
filesystem/*
*.dfs

# Linker artifacts
*.bin
*.elf

# Rom Images
*.v64
*.z64

# Archives
*.tar.bz
