# Operating System artifacts
.DS_Store
.directory

# Compiler toolchain
/toolchain
/toolchain/

# Compilation artifacts
/build/

# Makefile guards
.guard-*

# Only commit clean, tagged versions of ROMs
*.z64
!/FlappyBird-v*.z64
